(
    frames: [
        ('=', "#FF0000"), ('_', "#FF0000"), ('=', "#FF0000"), (' ', "#FFFFFF"),
        ('=', "#FF0000"), ('\\', "#FFFFFF"), ('=', "#FF0000"), (' ', "#FFFFFF"),
        (' ', "#FFFFFF"), ('V', "#FFFFFF"), ('\\', "#FFFFFF"), (' ', "#FFFFFF"),
        ('/', "#FFFFFF"), (' ', "#FFFFFF"), ('\\', "#FFFFFF"), ('=', "#895129"),

        ('=', "#FF0000"), ('_', "#FF0000"), ('=', "#FF0000"), (' ', "#FFFFFF"),
        ('=', "#FF0000"), ('\\', "#FFFFFF"), ('=', "#FF0000"), (' ', "#FFFFFF"),
        (' ', "#FFFFFF"), ('V', "#FFFFFF"), ('\\', "#FFFFFF"), (' ', "#FFFFFF"),
        ('/', "#FFFFFF"), (' ', "#FFFFFF"), ('\\', "#FFFFFF"), ('=', "#895129"),

        ('=', "#FF0000"), ('_', "#FF0000"), ('=', "#FF0000"), (' ', "#FFFFFF"),
        ('=', "#FF0000"), ('O', "#FFFFFF"), ('|', "#FFFFFF"), (' ', "#FFFFFF"),
        (' ', "#FFFFFF"), ('V', "#FFFFFF"), ('|', "#FFFFFF"), (' ', "#FFFFFF"),
        ('/', "#FFFFFF"), (' ', "#FFFFFF"), ('=', "#895129"), (' ', "#FFFFFF"),

        ('=', "#FF0000"), ('_', "#FF0000"), ('=', "#FF0000"), (' ', "#FFFFFF"),
        ('=', "#FF0000"), ('O', "#FFFFFF"), ('|', "#FFFFFF"), (' ', "#FFFFFF"),
        (' ', "#FFFFFF"), ('V', "#FFFFFF"), ('|', "#FFFFFF"), (' ', "#FFFFFF"),
        ('/', "#FFFFFF"), (' ', "#FFFFFF"), ('=', "#895129"), (' ', "#FFFFFF"),

        ('=', "#FF0000"), ('_', "#FF0000"), ('=', "#FF0000"), (' ', "#FFFFFF"),
        ('=', "#FF0000"), ('O', "#FFFFFF"), ('=', "#FF0000"), ('/', "#FFFFFF"),
        (' ', "#FFFFFF"), ('-', "#FFFFFF"), ('/', "#FFFFFF"), (' ', "#FFFFFF"),
        ('/', "#FFFFFF"), ('=', "#895129"), ('\\', "#FFFFFF"), (' ', "#FFFFFF"),

        ('=', "#FF0000"), ('_', "#FF0000"), ('=', "#FF0000"), (' ', "#FFFFFF"),
        ('=', "#FF0000"), ('O', "#FFFFFF"), ('=', "#FF0000"), ('/', "#FFFFFF"),
        (' ', "#FFFFFF"), ('-', "#FFFFFF"), ('/', "#FFFFFF"), (' ', "#FFFFFF"),
        ('/', "#FFFFFF"), ('=', "#895129"), ('\\', "#FFFFFF"), (' ', "#FFFFFF"),

        ('=', "#FF0000"), ('_', "#FF0000"), ('=', "#FF0000"), (' ', "#FFFFFF"),
        ('=', "#FF0000"), ('O', "#FFFFFF"), ('|', "#FFFFFF"), (' ', "#FFFFFF"),
        (' ', "#FFFFFF"), ('V', "#FFFFFF"), ('|', "#FFFFFF"), (' ', "#FFFFFF"),
        ('/', "#FFFFFF"), (' ', "#FFFFFF"), ('=', "#895129"), (' ', "#FFFFFF"),

    ],
    frame_size: (4, 4),
    frame_num: 7,
    frame_time: 0.2,
)
